* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    width: 100vw;
}

nav {
    background-color: white;
    padding: 0 25px;
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

i {
    color: #c5bebe;
}

nav img {
    height: 50px;
}

.logo-icon {
    justify-content: start;
    display: flex;
    align-items: center;
}

.logo-icon .icon {
    font-size: 20px;
    margin-right: 20px;
}

.logo {
    height: 60px;
    margin-right: 20px;
}

.searchDiv {
    display: flex;
    align-items: center;
    justify-self: center;
    min-width: 0px;
    margin-right: 20px;
}

.searchBar {
    width: 600px;
    max-width: 600px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.searchBar input {
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #c5bebe;
    width: 100%;
}

.searchDiv img {
    height: 20px;
}

.searchIcon {
    height: 30px;
    width: 60px;
    text-align: center;
    background-color: #f8f8f8;
    padding: 5px 0;
    border: 1px solid #c5bebe;
    border-left: none;
}

.login {
    text-align: right;
    display: flex;
    align-items: center;
}

.login i {
    font-size: 20px;
    margin-right: 20px;
}

.login button {
    height: 40px;
    width: 180px;
    padding: 10px 10px;
    background-color: white;
    color: #065fd4;
    border: 1.5px solid #065fd4;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;

}

.login button i {
    color: #065fd4;
    font-size: 20px;
    margin-right: 10px;
}

.content {
    margin-top: 100px;
    padding: 0 25px;
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
}

@media only screen and (max-width: 1020px) {
  
    .content {
      display: flex;
      flex-direction: column;
    }

}

main {
    max-width: 850px;
}




.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom: 20px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoInfo {
    height: 50px;
    
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}

.videoTitle {
    
}

.videoTitle span {
    font-size: 18px;
} 

.views-dates {
    margin-right: 20px;
}

.views-dates span {
    color: #606060;
    font-size: 15px;
}

.likes {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid gray;
    width: 150px;
    margin-right: 20px;
}

.like {
    display: flex;
    align-items: center;
}

.first {
    margin-right: 20px;
}

.like i {
    font-size: 25px;
    margin-right: 5px;
}

.videoStats {
    display: flex;
    align-items: center;
    height: 100%;
}

.videoStats  i, span {
    color: hsl(0deg 0% 56%);
    margin-right: 7px;
}

.videoStats  i {
    font-size: 25px;
}

.videoTitle span {
    color: black;
}

.share {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.enregistrer {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.enregistrer img {
    height: 30px;
    margin-right: 5px;
}

.channelDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

.chanellInfo {
    display: flex;
    justify-content: space-between;
}

.logo-title {
    display: flex;
    align-items: center;
}

.title-subs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    border-radius: 50%;
    height: 50px;
}

.subscribe {
    background-color: hsl(0deg 100% 40%);
    color: white;
    border: none;
    height: 40px;
    padding: 15px;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: 3px;
}

.channelTitle {
    font-size: 14px;
    font-weight: 600;
}

.subs {
    font-size: 13px;
    color: #5e5858;
}

.description {
    margin: 5px 70px;
}

.description span {
    font-size: 15px;
    color: black;
}

.comments {
    margin-top: 20px;
}

.header {
    display: flex;
    align-items: center;
}

.number {
    color: black;
    margin-right: 30px;
}

.trier {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.trier img {
    margin-right: 10px;
}

.addComment {
    display: flex;
    height: 70px;
    margin-top: 20px;
    align-items: flex-start;
}

.addComment i {
    font-size: 40px;
    margin-right: 20px;
}

.addComment input {
    height: 40%;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}

.addComment input:focus {
    outline: none;
}

.cmt {
    display: flex;
    margin-bottom: 20px;
}

.userImg {
    margin-right: 20px;
}

.userImg img {
    border-radius: 50%;
    height: 40px;
}

.userName {
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.cmtDate {
    font-size: 13px;
}

.cmtContent {
    color: black;
}

.drop-down > i, .drop-down > span{
    color: #065fd4;
    font-weight: 600;
    font-size: 15px;
}

.row {
    margin-bottom: 10px;
}

.columns {
    display: flex;
}


.col {
    margin-right: 15px;
}

.col > i {
    font-size: 13px;
}

.col > span {
    font-size: 13px;
}

.recomend {
    display: flex;
    margin-bottom: 20px;
    text-decoration: none;
}

.recomend-info > h4 {
    color: black;
}

.recomend-info {
    display: flex;
    flex-direction: column;
}

.recomend-info > h4 {
    font-size: 15px;
    margin-bottom: 8px;
}

.recomend-info > span {
    font-size: 13px;
}

.recomend-chanel {
    margin-bottom: 8px;
}

aside {
    margin-left: 20px;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/3;
}

.thumbnailContainer {
    height: 90px;
    position: relative;
    justify-content: initial;
}

.thumbnail {
    height: 90px;
    width: 160px;
    margin-right: 5px; 

}


.duration {
    /*
    background-color: black;
    padding: 5px;
    font-size: 12px;
    font-weight: 700;
    color: white; 
    position: relative;
    right: 0;
    width: 50px;
    text-align: center; 
    margin-top: -30px;
    */
    width: 100%;
    padding: 5px;
    margin-top: -33px;
    text-align: right;
}

.duration span {
    padding: 1px 4px;
    font-size: 13px;
    color: white;
    font-weight: 500;
    border-radius: 2px;
    background-color: #000;
}

.watchlater {
    
    position: absolute;
    flex-direction: column;
    top: 0;
    padding: 12px;
    right: 0;
    gap: 4px;
    display: none;
}

.thumbnail:hover ~ .watchlater {
    display: flex;
}

.watchlater:hover {
    display: flex;
}


.watchlater > img {
    background-color: black;
}


@media only screen and (max-width: 1020px) {
    .dates {
        display: none;
    }

    .comments {
        order: 69;
    }

    aside {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .searchBar > input {
        display: none;
    }
    .searchIcon {
        border: 1px solid gray;
        height: 30px;
        width: 30px;
        border-radius: 50px;
    }
    .searchBar {
        width: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .content {
        width: 500px;
        min-width: 500px;
    }

    .videoContainer {
        width: 100%;
        background-color: aqua;
    }
    .videoWrapper {
        width: 100%;
    }
    .videoWrapper > iframe {
        width: 100%;
    }
    .login > button {
        width: 100px;
        font-size: 10px;
    }
}





